<!DOCTYPE html>
<HTML>

<HEAD>
  <meta charset="utf-8">
  <TITLE>getting started vue.js</TITLE>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</HEAD>

<body>
<div id="app">
  <h1>Components</h1>
  {{ msg }}
  <div id="example">
  <my-component></my-component>
  </div>
  <div id="app3">
  <my-component></my-component>
  </div>
  <div id="app4">
    <counter></counter>
    <counter></counter>
    <counter></counter>
</div>
<div id="app5">
<child message="hello"></child>
</div>

</div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./script.js"></script>


</body>

</HTML>
