<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>

  </head>
  <body>

    <div id="app">
      <table>
              <tr v-for="(ingredient, index) in ingredients"
                  :key="ingredient+index">
                <td>{{ingredient}} : {{index}}</td>
              </tr>
      </table>

      <template v-for="(ingredient, index) in ingredients">
        <h1>{{ingredient}}</h1>
        <p> {{index}} </p>
      </template>

      <template v-for="(person, index) in persons">
        <h1>{{person.name}}</h1>
        <p> {{index}} </p>
        <p> age : {{person.age}} ans </p>
        <p> color : {{person.color}} </p>
        <span v-for="(value, key, index) in person">{{key}} : {{value}} ({{index}}) <br /> </span>
      </template>

      <template>
        <p v-for="n in 10"> {{n}} </p>
      </template>

    </div>

    <script>
    new Vue({
      el:"#app",
      data: {
        ingredients : ["meat", "fruits", "cookies"],
        persons: [
        {name : "max", age : 28, color : "red"},
        {name : "Anna", age : 'unknown', color : "blue"}]
      }
    })
    </script>
  </body>
</html>
